<div class="portal-dashboard-page-wrapper">
    <div fxLayout="column" fxLayout.lg="row" fxLayoutGap="16px">
      <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="70" style="padding-left:16px;">
        <p class="portal-widget__heading mat-subheading-2 ">Portal Analytics</p>
        <portal-dashboard-tabbed-chart-widget class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-tabbed-chart-widget>
      </div>
  
      <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="30">
        <p class="portal-widget__heading mat-subheading-2">Active User</p>
      </div>
  
    </div>
    
  </div>