<div class="portal-ecommerce-page-wrapper">
  <div fxLayout="column" fxLayout.lg="row"  fxLayoutGap="16px">
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="1 1 100%">
        <mat-card fxLayout="row" fxLayoutAlign="space-between stretch">
          <div class="portal-widget__padding" fxflex="auto">
            <div fxLayout="column" fxLayoutAlign="start end">
              <h4 class="mat-caption portal-mini-caption portal-widget__no-margin" il8n>Projects </h4>
            </div>
          </div>
        </mat-card>
    </div>
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="1 1 100%">
        <mat-card fxLayout="row" fxLayoutAlign="space-between stretch">
            <div class="portal-widget__padding" fxflex="auto">
              <div fxLayout="column" fxLayoutAlign="start end">
                <h4 class="mat-caption portal-mini-caption portal-widget__no-margin" il8n>Active Projects</h4>
              </div>
            </div>
          </mat-card>
    </div>
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="1 1 100%">
        <mat-card fxLayout="row" fxLayoutAlign="space-between stretch">
            <div class="portal-widget__padding" fxflex="auto">
              <div fxLayout="column" fxLayoutAlign="start end">
                <h4 class="mat-caption portal-mini-caption portal-widget__no-margin" il8n>Teams</h4>
              </div>
            </div>
          </mat-card>
    </div>
    
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="1 1 100%">
      </div>
      
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="1 1 100%">
      </div>
  </div>
</div>
