<div style="">
    <div style="width: 70%;float:left;">
        <dashboard-tabbed-chart-widget></dashboard-tabbed-chart-widget>
    </div>
    <div style="width: 27%;float:right;padding:8px;">
            <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                        <mat-panel-description>
                            Type your name and age
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <mat-form-field>
                        <input matInput placeholder="First name">
                        </mat-form-field>
                    
                        <mat-form-field>
                        <input matInput placeholder="Age">
                        </mat-form-field>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            Currently I am {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="portal-dashboard-widget" fxLayout="column">
                    
                </div>
    </div>
</div>
      


      